RewriteEngine On
Options +FollowSymLinks
#ligne suivante à retirer pour empecher l acces aux repertoires

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9_:\-]+)/?$ index.php?page=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category/([a-zA-Z0-9_:\-\.\?\!]+)/?$ index.php?page=category&category=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^topic/([a-zA-Z0-9_:\-\.\?\!]+)/?$ index.php?page=topic&topic=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/([a-zA-Z0-9_:\-\.\?\!]+)/?$ index.php?page=admin&page_admin=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)/(.+)/?$ index.php?page=singlecategory&category=$1&topic=$2 [L]
