body{
	font-size: 14px;
}

.vmiddle{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.wrapper-admin{
}

/*** ADMIN - NAV ***/
.nav-admin{
	margin-top: 25px;
	width: 250px;
}

/*** ADMIN - CATEGORIES ***/
.wrapper-admin-categories{
	display: none;
}

.wrapper-admin-categories .wrapper-title-category{
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.7rem;
}
.wrapper-admin-categories .wrapper-category{
	margin-bottom: 10px;
}

.js-category-form-modif, .js-category-form-delete{
	display: none;
	margin-top: 15px;
}

/*** ADMIN - UTILISATEURS ***/
.wrapper-admin-users{
	display: none;
}

.wrapper-admin-users .wrapper-title-user{
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.7rem;
}
.wrapper-admin-users .wrapper-user{
	margin-bottom: 10px;
}

.js-user-form-modif{
	display: none;
	margin-top: 15px;
}

/*** ADMIN - POSTS ***/
.wrapper-admin-posts{
	/*display: none;*/
}

.wrapper-admin-posts .wrapper-title-post{
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.7rem;
}
.wrapper-admin-posts .wrapper-post{
	margin-bottom: 10px;
}

.js-post-form-delete{
	display: none;
	margin-top: 15px;
}