a{
	text-decoration:none;
	color:#ED1616;
}

.forum{
	background-color: #F9F8EA;
	border:1px solid #ccc;
	border-radius: 6px;
	margin-bottom: 10px;
	padding:2%;
}

.forum h3 a{
	font-family: 'Playfair Display SC', serif;
	color:#4D224B;
	margin-left:15px;

}
.forum h3 {
	padding:15px;
	color:#ED1616;
	text-align: center;

}

/*.content{
	margin:0;
	padding:0;
}*/

.inv{
	display:none;
}

.header{
	background-color:#812323;
	
}
.cadre-header {
	padding:10px;
	background: url('../img/cannibale-head.jpg') no-repeat center;
	font-family: 'Freckle Face', cursive;
	color :#ED1616;
	background-size:contain;
}

.cadre-header img{
	width:100%;
}

.cadre-header h1, p{
	text-align: center;
}
.cadre-header p {
	font-size:40px;
}

.cadre-header h1 {
	font-size:80px;
}

.navfont {
	font-family: 'Freckle Face', cursive;
	font-size:18px;
}

.navbar-default .navbar-nav>li>a{
	color:#4D2222;

}