body{
	font-size: 14px;
}

@keyframes rollInLeft {
  0%{
    opacity: 0;
    transform: translate3d(-300%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }33%{
    opacity: 1;
    transform: none;
  }66%{
    opacity: 1;
    transform: none;
  }100%{
    opacity: 0;
    transform: translate3d(300%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}
.rollInLeft {
  animation-name: rollInLeft;
}
.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}






.vmiddle{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nok{
	background-color: red;
}

.wrapper-logo-admin{
	opacity: 0;
	width: 200px;
	margin: auto;
}
.logo-admin{
	display: inline-block;
	font-size: 200px;
}

/*** ADMIN - NAV ***/
.nav-admin{
	margin-top: 25px;
	width: 250px;
	.list-group-item{
		cursor: pointer;
	}
	.list-group-item:not(.active){
		color: #555;
		&:hover{
			color: #555;
 	 		text-decoration: none;
  			background-color: #f5f5f5;
  		}
  	}
}

/*** ADMIN - CATEGORIES ***/
.wrapper-admin-categories{
	display: none;
	 .wrapper-title-category{
		padding: 5px 0 10px;
		font-weight: bold;
		font-size: 1.7rem;
	}
	 .wrapper-category{
		padding: 5px 0 10px;
		border-top: 1px solid #eee;
	}

	.js-category-form-modif, .js-category-form-delete{
		display: none;
		margin-top: 15px;
	}
}

/*** ADMIN - UTILISATEURS ***/
.wrapper-admin-users{
	.wrapper-title-user{
		padding: 5px 0 10px;
		font-weight: bold;
		font-size: 1.7rem;
	}
	.wrapper-user{
		padding: 5px 0 10px;
		border-top: 1px solid #eee;
	}
	.js-user-form-modif, .js-user-form-ban{
		display: none;
		margin-top: 15px;
	}
}

/*** ADMIN - POSTS ***/
.wrapper-admin-posts{
	display: none;
	.wrapper-title-post{
		padding: 5px 0 10px;
		font-weight: bold;
		font-size: 1.7rem;
	}
	.wrapper-post{
		padding: 5px 0 10px;
		border-top: 1px solid #eee;

	}
	.js-post-form-delete, .js-post-form-valid, .js-post-form-modif{
		display: none;
		margin-top: 15px;
	}
}